@import url("//fonts.googleapis.com/css?family=Nunito");

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', serif;
}

.content {
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  color: #6E6B7B;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px;
}

.footer_bmeet {
  font-weight: 600;
  font-size: 16px;
  color: #E7B460;
}

.header {
  height: 62px;
  background: #FFFFFF;
  box-shadow: 0 4px 24px rgba(24, 41, 47, 0.1);
  border-radius: 6px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}