@import "./variable";

* {
    overflow: visible;
}


.header {

position: absolute;
width: 1384px;
height: 62px;
left: calc(50% - 1384px/2);
top: 15px;
background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(24, 41, 47, 0.1);
border-radius: 6px;

}

.right_text {

    position: absolute;
    width: 120px;
    height: 38px;
    right: 21px;
    top: 12px;

}

.username {

    position: absolute;
    height: 21px;
    left: 23.33%;
    right: 43.33%;
    top: calc(50% - 21px/2 + 0.5px);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #6E6B7B;

}



.dropbtn {

    position: absolute;
    left: 66.67%;
    right: 6.67%;
    top: 7.89%;
    bottom: 7.89%;    
    background: url('../assets/img/avatar.svg') no-repeat center center;
    border-style: none;

}



.dropdown-content {

    display: none;
    background: #FFFFFF;
    border-radius: 6px;
    width: 189px;
    height: 143px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: absolute;
    right: 3.96%;
    top: 36px;


}

.dropdown-content .a1 {

    display: block;
    position: absolute;
    width: 189px;
    height: 40px;
    left: 0px;
    top: 11px;
    color: #6E6B7B;

}

.dropdown-content .a1:hover {background: #FCF6EC; color: #E7B460;}

.dropdown-content .a2 
{
    display: block;
    position: absolute;
    width: 189px;
    height: 40px;
    left: 0px;
    top: 51px;
    color: #6E6B7B;

}

.dropdown-content .a2:hover {background: #FCF6EC; color: #E7B460;}


.dropdown-content .a3 {

    display: block;
    position: absolute;
    width: 189px;
    height: 40px;
    left: 0px;
    top: 91px;
    color: #6E6B7B;
    
}

.dropdown-content .a3:hover {background: #FCF6EC; color: #E7B460;}

.dropdown:hover .dropdown-content {display: block}

.p1 {

    position: absolute;
    width: 53px;
    height: 21px;
    left: 18px;
    top: calc(50% - (21px/2));
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}

.p2 {

    position: absolute;
    width: 62px;
    height: 21px;
    left: 18px;
    top: calc(50% - 21px/2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}

.p3 {

    position: absolute;
    width: 125px;
    height: 21px;
    left: 18px;
    top: calc(50% - 21px/2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
}